@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
}
